extends ../layout/main

block head 
  - var title = 'Главная'
  - var bodyClass = ''
block content
  section.slider
    .slider__item
      img(src="img/general/sl_1.jpg", alt="image")
    .slider__item
      img(src="img/general/sl_2.jpg", alt="image")


  +divider()

  .container
    .row
      .col-lg-7
        h2.h2 Welcome
        .info-block
          .info-block__img: img(src="img/content/img_1.jpg", alt="image").info-block__picture
          .info-block__desc
            p.info-block__desc-text
              a.link(href="#") Click here 
              |for more info about this free website template created by TemplateMonster.com 
            p.info-block__desc-text Aenean nonummy hendrerit mau rellus porta. Fusce suscipit varius m sociis natoque penaibet magni parturient montes nasetur ridiculumula dui.
            .info-block__action
              a.btn.btn--def(href="#") More


      .col-lg-5
        h2.h2 Features
        ul.list
          li.list__item Unlimited consultations and/or planning
          li.list__item Expert advice on traditions, customs, aetiquette
          li.list__item Determine and stay within budget
          li.list__item Choosing the right Wedding Venue
          li.list__item Provide preferred vendor's list
          li.list__item Assist with wedding scheme and design

  +divider()


























































































//- 