/* lead-up style */
//retina
// https://github.com/strues/retinajs
// для использования доставляем дата атрибут data-rjs="3", в бекграундах используем миксин
// +retina('../img/general/', 3, cover, center center no-repeat)
//@import "../libs/retina/_retina.sass"

//+triangle(right, 5px, 5px, #fff)

@import "smart-grid"
@import "variabls"
@import "mixin"
@import "font"
@import "sprite"
//@include retina-sprites($retina-groups) //раскоменить для ретины
@import "same_style"

// @import "pixel-glass"

/* lead-up style end */

/* blocks style */

/* head */
@import "../pug/modules/header/header"

/* foot */
@import "../pug/modules/foot/foot"

/* forms */
@import "../pug/modules/forms/forms"

/* menu */
@import "../pug/modules/menu/menu"

/* blocks style end*/


//.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-close, .fotorama__video-play
  background-image: url('../img/general/fotorama.png')
  background-repeat: no-repeat

//smartgrid settings 
// .container
//   +container()
// .row
//   +row()
// .col
//   +col()
//   +cols(12)

/* page style */




.slider
  margin-bottom: 60px
  font-size: 0
  &+.divider
    padding-top: 0

.slider__item
  position: relative
  &::before
    content: ''
    display: block
    padding-top: 32%
    +smx-block()
      padding-top: 50%
    +xxs-block()
      padding-top: 60%
  img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    +object-fit(cover)


.slick-dots
  position: absolute
  bottom: 0
  left: 0
  right: 0
  z-index: 10
  display: flex
  justify-content: center
  transform: translateY(50%)
  li
    +size(20)
    margin: 0 8px
    cursor: pointer
    border-radius: 50%
    background: rgb(235, 108, 16)

  .slick-active
    background: #fff
    box-shadow: inset 0 0  0 2px rgb(235, 108, 16)


.divider
  padding-top: 40px
  padding-bottom: 40px

.divider__item
  background-size: 8px 5px;
  height: 5px
  background-image: radial-gradient(circle, #b3adad 2px, transparent 2.2px)
  background-repeat: repeat-x


.link
  color: #e1837f
  &:hover
    color: #e1837f
    text-decoration: underline

.info-block
  display: flex
  +md-block()
    flex-direction: column
  p
    margin-top: 0
.info-block__img
  flex-shrink: 0
  +size(160)
  margin-right: 30px
  padding: 3px
  font-size: 0
  box-shadow: 1px 5px 9px 0 rgba(0, 0, 0, 0.1)
  border-radius: 50%
  border: 1px solid #e6e4e4
  background: #fff
  +md-block()
    max-width: 250px
    width: 100%
    height: auto
    border-radius: 10px
  img
    width: 100%
    height: 100%
    border-radius: 50%
    +object-fit(cover)
    +md-block()
      border-radius: inherit
  +md-block()
    margin-bottom: 20px

.info-block__action
  +sm-block()
    margin-bottom: 30px








.list


.list__item
  display: flex
  align-items: center
  &:not(:last-child)
    margin-bottom: 10px
  &::before
    content: ''
    +size(3)
    flex-shrink: 0
    margin-right: 10px
    background: #6e0400










.slider-control
  display: flex
  align-items: center
  cursor: pointer
  justify-content: space-between
  padding-bottom: 35px
  .h2
    margin-bottom: 0
.slider-control__btns
  display: flex

.slider-control__btn
  display: flex
  justify-content: center
  align-items: center
  margin: 0 3px
  padding: 8px
  border-radius: 4px
  +size(30)
  background: #eb6c10
  transition: background .25s linear
  svg
    width: 100%
    height: 100%
    fill: #fff
  &.slick-disabled
    background: #f3d5a2











.slider-goods
  margin: 0 -10px

.slider-goods__item
  display: block
  // max-width: 218px
  padding: 0 10px
  width: 100%
 


.slider-goods__item-img
  position: relative
  display: block
  margin-bottom: 20px
  background: #fff
  box-shadow: 4px 5px 9px 0 rgba(0, 0, 0, 0.1)
  border: 1px solid #e6e4e4
  &::before
    content: ''
    display: block
    padding-top: 70%
  img
    position: absolute
    top: 3px
    left: 3px
    right: 3px
    bottom: 3px
    width: calc(100% - 6px)
    height: calc(100% - 6px)
    +object-fit(cover)
    border: 1px solid #f4f3f3
.slider-goods__item-info
  display: block
  font-size: 12px
  +lh(18,12)
  color: #826660

.slider-goods__item-title 
  display: block
  color: #000
  text-transform: uppercase
  &:hover
    text-decoration: underline

.slider-goods__item-price
  display: block
  margin-top: 20px
  font-family: $lb
  font-size: 20px
  line-height: 1
  color: #fff
  transition: $tr
  span
    display: inline-flex
    align-items: center
    height: 40px
    padding: 0 6px
    border-radius: 4px
    background: #ec8438
    transition: $tr
    &:hover
      color: #ec8438
      background: #fff
      box-shadow: inset 0 0 0 1px #ec8438


.communication
  padding-bottom: 35px

.row--like-footer
  +sm-block()
    flex-direction: column-reverse



.social
  display: flex
  padding-top: 5px

.social__link
  display: block
  +size(25)
  margin-right: 10px
  padding: 4px
  border-radius: 4px
  background: #eb6c10
  // border: 1px solid #eb6c10
  box-shadow: inset 0 0 0 1px #eb6c10
  transition: $tr

  .svg
    width: 100%
    height: 100%
    fill: #fff
    transition: $tr
  &:hover
    background: #fff
    .svg
      fill: #eb6c10



.bottom-nav
  display: flex
  padding-top: 30px
  font-size: 12px
  text-transform: uppercase
  color: #504f4f
  +xss-block()
    flex-wrap: wrap
    justify-content: space-between

.bottom-nav__link
  +xss-block()
    margin-bottom: 10px
  &:not(:last-child)
    margin-right: 20px
    +md-block()
      margin-right: 6px
  &:hover
    text-decoration: underline

.communication__desc
  margin: 0
  font-size: 12px
  +lh(18,12)
.form
  padding-top: 20px
  +sm-block()
    margin-bottom: 32px
.form__list
  display: flex
  font-size: 12px
  color: #c3c3c3


.form__item
  height: 30px
  margin-right: 10px
  input
    display: block
    height: 100%
    width: 100%
    padding: 0 10px
    border: 1px solid #c3c3c3
    background: #fff

.form__item--btn
  margin-right: 0



.foot
  padding: 40px 0
  color: #fff
  text-align: center
  font-size: 12px
  background: #eb6c10
  a
    &:hover
      text-decoration: underline



.police-popup
  position: relative
  max-width: 860px
  margin: 0 auto
  padding: 30px 25px
  line-height: 1.4
  background: #fff
  border-radius: 10px
  border: 1px solid #eb6c10
  
  .mfp-close
    color: #eb6c10


/* page style end */

/*media style*/
@import "media"
