mixin foot()
  footer.foot
    .container
      .row
        .col Gourmet © 2013   |   
          a(href="#police").police-link.popup-js Privacy Policy   
          |  Website Template designed by 
          a(href="#") TemplateMonster.com
