
mixin menuHover()
  nav.header__nav-wrap
    a#openup.header__list-open(href='#')
      //- | Меню
      span.hamburger.hamburger--collapse
        span.hamburger-box
          span.hamburger-inner
    ul.header__list 
      li.header__list-item.header__list-item--active
        a.header__list-link(href='#') Home
      li.header__list-item
        a.header__list-link(href='#') About us
      li.header__list-item
        a.header__list-link(href='#') Menu
      li.header__list-item
        a.header__list-link(href='#') Portfolio
      li.header__list-item
        a.header__list-link(href='#') News
      li.header__list-item
        a.header__list-link(href='#') Contacts
