.header__nav-wrap
  font-family: $nts
  font-size: 18px
  font-weight: 400

  text-transform: uppercase

  color: #85423f
  // background: red

.header__list-open
  display: none
  +md-block()
    display: flex
    justify-content: flex-end
.header__list 
  display: flex
  justify-content: flex-end
  margin-left: -3px
  margin-right: -3px
  // background: green
  +md-block()
    display: none
    position: absolute
    top: calc(100% + 2px)
    // top: 100%
    left: 0px
    right: 0px
    // z-index: 0
    margin: 0
    padding: 10px
    padding-bottom: 5px
    background:  #f2f0f0
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.21)
    // outline: $ou

.header__list-item
  +md-block()
    margin-bottom: 5px
.header__list-link
  display: block
  margin: 0 3px
  padding: 6px 13px
  border-radius: 5px
  transition: background .25s linear, color .25s linear
  &:hover
    color: #fff
    background: $or

.header__list-item--active
  .header__list-link
    color: #fff
    background: $or



































































// 





.hamburger
  display: inline-block

  padding: 10px
  padding-right: 0

  font-size: 0
  line-height: 0
  &:hover
    opacity: 0.7
.hamburger-box
  width: 30px
  height: 20px
.hamburger-inner
  width: 100%
  height: 2px
  margin-top: -1px

  transition-timing-function: ease
  transition-duration: 0.25s
  transition-property: transform

  border-radius: 10px
  background-color: #000  //цвет нужно дублировать
  &::before, &::after
    width: 100%
    height: inherit

    transition-timing-function: ease
    transition-duration: 0.25s
    transition-property: transform

    border-radius: inherit
    background-color: #000    //цвет нужно дублировать
  &::before
    top: -10px
.hamburger--collapse .hamburger-inner::after
  top: -19px
